<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Tampilkan List Keluarga</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1 class="page-header">Tampilkan List Keluarga</h1>

	<form action="/penduduk/cari" method="get" >
		<div>
			<label for="kota">Kota</label> 
			<select name="kt" readonly="true" >
				<option th:value="${kota.id}" th:text="${kota.nama_kota}"></option>
			</select>
		</div>
		
		<div>
			<label for="kecamatan">Kecamatan</label> 
			<select name="kc" readonly="true" >
				<option th:value="${kecamatan.id}" th:text="${kecamatan.nama_kecamatan}"></option>
			</select>
		</div>
		
		<div>
			<label for="kelurahan">Pilih Kelurahan</label> 
				<select name = "kl" >
				 <div th:each="kelurahan,iterationStatus: ${kecamatan.kelurahans}">
					 <option th:value="${kelurahan.id}" th:text="${kelurahan.nama_kelurahan}"></option>
				 </div>
				</select>
		</div>

		<div>
			<button type="submit">Lihat</button>
		</div>
	</form>

</body>

</html>


